<div class="header">
  <button mat-button class="logo" routerLink='src/app/home'>ParkMe</button>
  <div class="Inputs">
<div *ngIf="!LoggedIn" class="Inputs" >
    <asl-google-signin-button  type="standard" size='large' class="googleSign " >
    </asl-google-signin-button>
    </div>
<div *ngIf="LoggedIn">

  <button mat-button [matMenuTriggerFor]="menu"><img [src]="userProfilePicture"  alt="Avatar"></button>
  <mat-menu #menu="matMenu" class="menuButton" [overlapTrigger]="false"  >

    <button  mat-menu-item routerLink=>Setting</button>
    <button mat-menu-item (click)="signOut()">Sign out</button>

  </mat-menu>

</div>
  </div>
  </div>

  <script src="https://apis.google.com/js/api.js"></script>
